<div>
  <a
    href="/impressum"
    class="mx-2 break-words hover:underline"
    >Impressum</a
  >
  <span class="text-stone-400">•</span>
  <a
    href="/datenschutz"
    class="mx-2 break-words hover:underline"
    >Datenschutz</a
  >
</div>
